.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
MathGrundlDWInfo*.pdf
MathGrundlDWInfo*.bbl
MathGrundlDWInfo*.bcl
MathGrundlDWInfo*.tex
MathGrundlDWInfo.*.md
MathGrundlDWInfo*.aux
MathGrundlDWInfo*.nav
MathGrundlDWInfo*.snm
MathGrundlDWInfo*.toc
MathGrundlDWInfo*.vrb
MathGrundlDWInfo*.nav
MathGrundlDWInfo_files/
DasIstNurEinTest*.Rmd
DasIstNurEinTest*.bbl
DasIstNurEinTest*.bcl
DasIstNurEinTest*.pdf
DasIstNurEinTest*.tex
DasIstNurEinTest*.*.md
DasIstNurEinTest*.aux
DasIstNurEinTest*.nav
DasIstNurEinTest*.snm
DasIstNurEinTest*.toc
DasIstNurEinTest**.vrb
DasIstNurEinTest*.nav
DasIstNurEinTest_files/
pandoc-filter/__pycache__/**
pandoc-filter/__pycache__/*
pandoc-filter/__pycache__/*.pyc
pandoc-filter/**.pyc
*.pyc
JUNK
private.yaml
*_files/
*_cache/
.DS_Store
